{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block title %}
    MainTrackor - Register
{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3 auth-register-form">
            <div class="row">
                <h1 class="text-center">Register</h1>
                <hr>
                
                <div class="col-sm-8 col-sm-offset-2">
                    {{ wtf.quick_form(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}