{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}
    MainTracker - Add Facility
{% endblock title %}

{% block content %}
    <br/>
    <div class="container">
       
            <div class="col-sm-3" >
                <div class="row">
                    <div class="list-group">
                        <a href="" class="list-group-item">Add Facilities</a>
                        <a href="{{ url_for('main.add_repair_persons') }}" class="list-group-item">Add Maintenance Person</a>
                        <a href="{{ url_for('main.add_facility') }}" class="list-group-item">jhdsjdhsjdh</a>
                        <a href="" class="list-group-item">luidhgi</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-9">
                <div class="row">
                    {% for message in get_flashed_messages() %}
                <div class="alert alert-warning">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
    
    {% endfor %}
                </div>
                    <h1 class="text-center">Add Assets to Records</h1>
                    
                    <div class="col-sm-10 col-sm-offset-1">
                        {{ wtf.quick_form(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
