{% extends "main/index.html" %}

{% block dashboard %}

    <div class="row heading">
        <div class="col-md-4">Requested by</div>
        <div class="col-md-5">Description</div>
        <div class="col-md-3">Actions</div>
    </div>
    <br/>

    {% for repair in repairs %}
    <div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4">{{repair.repair_req.username}}</div>
            <div class="col-md-5">{{repair.description}}</div>
            <div class="col-md-3">
            <a  class="btn btn-primary btn-sm" href="{{ url_for('main.assign_maintainer', id=repair.id) }}">Assign</a>
            {% set id_for_repair = repair.id %}
            <a href="{{ url_for('main.reject_repair_request', repairs_id=repair.id)}}" class="btn btn-danger btn-sm">Reject</a>
            </div>
        </div>
    </div>
    </div>
    {% endfor %}

{% endblock dashboard %}