{% extends "main/index.html" %}

{% block dashboard %}

    <div class="row heading">
        <div class="col-md-3">Requested by</div>
        <div class="col-md-3">Assigned To</div>
        <div class="col-md-3">Status</div>
        <div class="col-md-3">Actions</div>
    </div>
    <br/>

    <div class="row">
        {% for repair in rep %}
        <div class="col-md-3">{{repair.requested_by.username}}</div>
        <div class="col-md-3">{{repair.assigned_by.name}}</div>
        <div class="col-md-3">{{repair.status}}</div>
        <div class="col-md-3">
            <button type="button" class="btn btn-success btn-sm">edit</button>
        </div>
        {%endfor%}

    
    </div>
{% endblock dashboard %}